{%  load static %}
<style>
    
</style>
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <div class="navbar">
        <header>
            <ul class="navul">
                <li>My Blogs</li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><input type="search" placeholder="Search"></li>
                <li><button>Search</button></li>
            </ul>
        </header>
    </div>
