body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: cyan;
    align-items: center;
    text-align: center;
}
.abt-content{
    width: 1000px;
    margin-left: 250px;
}